.left {
  background: #037bb5;
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  transition: width 1s;
  float: left;
  height: 100vh;
  &:hover {
    width: 250px;
  }
}

.item-no-hover:hover {
  background: none !important;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
  margin-left: -3px;
  &:hover {
    background-color: #ccc;
  }

  i.material-icons.list-icon {
    vertical-align: sub;
    margin-right: 20px;
    margin-left: 14px;
    margin-top: 15px;
  }
}
