@import 'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700';
@import './bootstrap-4.0.0/scss/bootstrap';
@import "reset";
@import "function";
// GLOBAL
html, body {
  background: #42A5F5;
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 0;
}

#notification-bar {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 20%;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 3;
  text-align: center;
  display: none;
}

@import "Sidebar";
@import "form";
@import "leftSidebar";
@import "rightSidebar";
@import "mainWrapper.scss";
@import "dashboard";

// MEDIAS

@media screen and (max-width: 945px) {
  #navbar {
    display: block;
  }
  #sidebar {
    display: none;
  }
  #main-wrapper {
    margin-top: 80px;
  }

  #register-container {
    margin: 0 auto;
  }
  #login-box {
    margin: 0 auto;
  }
  #login-container {
    margin: 0 auto;
  }
  #register-box {
    margin: 0 auto;
  }
}

