@import 'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700';
@import './bootstrap-4.0.0/scss/bootstrap';
@import "reset";
@import "function";
// GLOBAL
html, body {
  background: #42A5F5;
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 0;
}

@import "Sidebar";
@import "form";
@import "leftSidebar";
@import "rightSidebar";
@import "mainWrapper.scss";
@import "dashboard";

// MEDIAS

@media screen and (max-width: 945px) {
  #navbar {
    display: block;
  }
  #sidebar {
    display: none;
  }
  #main-wrapper {
    margin-top: 80px;
  }
}
