  .right {
  color:#a9a9a9;
  float:left !important;
  height:100vh;
  background: #fff;
  width: 350px;
  transition: width 1s;
    @include boxShadow( 0 3px 6px rgba(0,0,0,0.23));

  table {
    color: #616161;

    .input-field {
      input[type=search] {
        background: transparent;
        text-align: center;
      }
    }

    i.material-icons {
      vertical-align: sub;
    }
    td, th {
      vertical-align: middle !important;

    }
    input[type=search] {
      padding: 10px 0px 10px;
      -webkit-appearance: none;
      width:90%;
    }
    input[type=search]:focus {
      outline:none;
    }
    td.type {
      text-align: center;
    }
    .date{
      background-color:#f7f7f7
    }
    .search {
      padding:3px 8px 3px !important;
    }
    .title {
      background-color:#0288D1;

      box-sizing: border-box;
    }
    .docs {
      .distr {
        margin: 0 0 5px;
        font-size: 12px;
      }
      .ndoc {
        margin: 0 0 5px;
      }
      .storage {
        margin: 0;
        color: #aaa !important;
        font-size: 12px;
      }
    }
    .docdate {
      vertical-align:bottom !important;
    }
  }
}